<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.githubyss.common.res"
    tools:ignore="LockedOrientationActivity"
    >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".app.application.ComresApplication"
        android:theme="@style/comresTheme_default"
        android:allowBackup="false"
        android:icon="@mipmap/comres_ic_launcher_default"
        android:label="${APP_NAME}"
        android:roundIcon="@mipmap/comres_ic_launcher_default_round"
        android:supportsRtl="true"
        tools:replace="android:label,android:allowBackup"
        >

        <activity
            android:name=".app.page.homepage.HomepageActivity"
            android:theme="@style/comresTheme_default"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".app.page.theme.ThemeActivity"
            android:theme="@style/comresTheme_default"
            />

        <activity
            android:name=".app.page.theme.ThemeDefaultActivity"
            android:theme="@style/comresTheme_default"
            />
        <activity
            android:name=".app.page.theme.ThemeDefaultFullscreenActivity"
            android:theme="@style/comresTheme_default_fullscreen"
            />
        <activity
            android:name=".app.page.theme.ThemeDefaultTransparentWindowActivity"
            android:theme="@style/comresTheme_default_transparentWindow"
            />
        <activity
            android:name=".app.page.theme.ThemeDefaultColorfulStatusActivity"
            android:theme="@style/comresTheme_default_colorfulStatus"
            />
        <activity
            android:name=".app.page.theme.ThemeDefaultColorfulNavigationActivity"
            android:theme="@style/comresTheme_default_colorfulNavigation"
            />
        <activity
            android:name=".app.page.theme.ThemeDefaultColorfulStatusNavigationActivity"
            android:theme="@style/comresTheme_default_colorfulStatusNavigation"
            />
        <activity
            android:name=".app.page.theme.ThemeDefaultTranslucentStatusExtendActivity"
            android:theme="@style/comresTheme_default_translucentStatusExtend"
            />
        <activity
            android:name=".app.page.theme.ThemeDefaultTranslucentNavigationExtendActivity"
            android:theme="@style/comresTheme_default_translucentNavigationExtend"
            />
        <activity
            android:name=".app.page.theme.ThemeDefaultTranslucentStatusNavigationExtendActivity"
            android:theme="@style/comresTheme_default_translucentStatusNavigationExtend"
            />
    </application>
</manifest>
