<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.githubyss.common.res"
    tools:ignore="LockedOrientationActivity"
    >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".app.application.ComresApplication"
        android:theme="@style/comresTheme_application_default"
        android:allowBackup="false"
        android:icon="@mipmap/comres_ic_launcher_default"
        android:label="${APP_NAME}"
        android:roundIcon="@mipmap/comres_ic_launcher_default_round"
        android:supportsRtl="true"
        tools:replace="android:label,android:allowBackup"
        >

        <activity
            android:name=".app.page.homepage.HomepageActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".app.page.theme.ThemeActivity" />

        <activity
            android:name=".app.page.theme.ThemeDefaultActivity"
            android:theme="@style/comresTheme_application_default"
            />
        <activity
            android:name=".app.page.theme.ThemeDefaultFullscreenActivity"
            android:theme="@style/comresTheme_application_default_fullscreen"
            />
        <activity
            android:name=".app.page.theme.ThemeDefaultTransparentWindowActivity"
            android:theme="@style/comresTheme_application_default_transparentWindow"
            />
        <activity
            android:name=".app.page.theme.ThemeDefaultTransparentWindowFullscreenActivity"
            android:theme="@style/comresTheme_application_default_transparentWindow_fullscreen"
            />
        <activity
            android:name=".app.page.theme.ThemeDefaultTransparentWindowStatusActivity"
            android:theme="@style/comresTheme_application_default_transparentWindowStatus"
            />
        <activity
            android:name=".app.page.theme.ThemeDefaultTransparentWindowNavigationActivity"
            android:theme="@style/comresTheme_application_default_transparentWindowNavigation"
            />
        <activity
            android:name=".app.page.theme.ThemeDefaultTransparentWindowStatusNavigationActivity"
            android:theme="@style/comresTheme_application_default_transparentWindowStatusNavigation"
            />
        <activity
            android:name=".app.page.theme.ThemeDefaultTransparentWindowExtendStatusActivity"
            android:theme="@style/comresTheme_application_default_transparentWindowExtendStatus"
            />
        <activity
            android:name=".app.page.theme.ThemeDefaultTransparentWindowExtendNavigationActivity"
            android:theme="@style/comresTheme_application_default_transparentWindowExtendNavigation"
            />
        <activity
            android:name=".app.page.theme.ThemeDefaultTransparentWindowExtendStatusNavigationActivity"
            android:theme="@style/comresTheme_application_default_transparentWindowExtendStatusNavigation"
            />

        <activity
            android:name=".app.page.theme.ThemeToolbarDefaultActivity"
            android:theme="@style/comresTheme_application_default"
            />
        <activity
            android:name=".app.page.theme.ThemeToolbarDefaultFullscreenActivity"
            android:theme="@style/comresTheme_application_default_fullscreen"
            />
        <activity
            android:name=".app.page.theme.ThemeToolbarDefaultTransparentWindowActivity"
            android:theme="@style/comresTheme_application_default_transparentWindow"
            />
        <activity
            android:name=".app.page.theme.ThemeToolbarDefaultTransparentWindowFullscreenActivity"
            android:theme="@style/comresTheme_application_default_transparentWindow_fullscreen"
            />
        <activity
            android:name=".app.page.theme.ThemeToolbarDefaultTransparentWindowStatusActivity"
            android:theme="@style/comresTheme_application_default_transparentWindowStatus"
            />
        <activity
            android:name=".app.page.theme.ThemeToolbarDefaultTransparentWindowNavigationActivity"
            android:theme="@style/comresTheme_application_default_transparentWindowNavigation"
            />
        <activity
            android:name=".app.page.theme.ThemeToolbarDefaultTransparentWindowStatusNavigationActivity"
            android:theme="@style/comresTheme_application_default_transparentWindowStatusNavigation"
            />
        <activity
            android:name=".app.page.theme.ThemeToolbarDefaultTransparentWindowExtendStatusActivity"
            android:theme="@style/comresTheme_application_default_transparentWindowExtendStatus"
            />
        <activity
            android:name=".app.page.theme.ThemeToolbarDefaultTransparentWindowExtendNavigationActivity"
            android:theme="@style/comresTheme_application_default_transparentWindowExtendNavigation"
            />
        <activity
            android:name=".app.page.theme.ThemeToolbarDefaultTransparentWindowExtendStatusNavigationActivity"
            android:theme="@style/comresTheme_application_default_transparentWindowExtendStatusNavigation"
            />
    </application>
</manifest>
